<%= form_with(model: property, local: true) do |form| %>


  
  <p><%= form.label :物件名 %><br/ >
  <%= form.text_field :name %></p>

  <p><%= form.label :賃料 %><br/ >
  <%= form.text_field :rent %>円</p>

  <p><%= form.label :住所 %><br/ >
  <%= form.text_field :address %></p>

  <p><%= form.label :築年数 %><br/ >
  <%= form.text_field :age %>年</p>

  <p><%= form.label :備考 %><br/ >
  <%= form.text_area :remarks %></p>

<hr>
  <%= form.fields_for :stations do | station | %>
    
    <h3>最寄り駅<%= (station.index+1) %></h3>
    <p><%= station.label :line, "路線名" %><br/ >
    <%= station.text_field :line %></p>

    <p><%= station.label :name, "駅名" %><br/ >
    <%= station.text_field :name %></p>

    <p><%= station.label :walking_minutes, "徒歩分数" %><br/ >
    <%= station.text_field :walking_minutes %>分</p>

  <% end %>

<div><%= form.submit :登録する%></div>
<% end %>